html, body {
    /* Set the HTML and body font size to 16px */
    font-size: 16px;
}

p {
    /* Give the paragraph text to a weight of 400;
    Give the paragraphs a font stack that includes: ‘Quattrocento’, Georgia, “Times New Roman” serif;
    Give the text in the paragraphs a line-height of 1.4em */
    font-weight: 400;
    line-height: 1.4em;
    font-family: 'Quattrocento' Georgia, "Times New Roman" serif; 
}



h1, h2 {
    /* Give the headings (h1, h2) a font stack that includes: ‘Oswald’, Verdana, Arial, sans-serif */  
    font-family: 'Oswald', Verdana, Arial, sans-serif; 
}

h1 {
    /* Give the h1 a weight of 700 ;
    Make the h1 uppercase, add a font-size of 3.052em, .5em word spacing, no margin, and center the text; */
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3.052em;
    word-spacing: .5em;
    margin: 0;
    text-align: center;
}

h2 {
    /* Give the h2 a weight of 500;
    Give the h2 a font-size of 2.441em, .2em word spacing, no margin, align the text to the left, and a top padding of 15px ; */
    font-weight: 500;
    font-size: 2.441em;
    word-spacing: .2em;
    margin: 0;
    text-align: left;
    padding-top: 15px;
}

address {
    /* Give the address a font stack that includes ‘Quattrocento’, Georgia, “Times New Roman” serif;
    Give the address a text alignment of center; */
 
    font-family: 'Quattroceno', Georgia, "Times New Roman", serif;
    text-align: center;
}

a {
    /* Make the website URL bold with a font-size of 1.25em, font color of #4F3674, and remove the underline */
    font-weight: bold;
    font-size: 1.25em;
    color: #4f3674;
    text-decoration: none;
}

a:hover {
    /* When a user hovers over the website link, apply an underline to the text and give it a background color of #D6A800; */
    text-decoration: underline;
    background-color: #d6a800;
}

a:visited {
    /* For the pseudo class “visited” select a styling of your choosing */
    color: red;
}


.intro {
    /* Give the CSS “intro” class a text-indent of .2em */
    text-indent: .2em;
    /* ********** KEY THING TO NOTE: The instructions were specific to just .2em, this only showed a small indentation, was thinking to put atleast 1em */
}

.sentence {
    /* Apply a font-style of italic to the CSS sentence class */
    font-style: italic;
}


